/* CSS */
p {
    display: inline;
}

ul.list-data {
    padding: 0;
    list-style-type: none;
}

ul.list-data li {
    margin-bottom: 1em;
}

i.fa-solid {
    float: left;
    font-size: 2.3em;
    margin: 7 16 0 0;
}

div.description {
    display: block;
    margin: 20 10 10 10;
}

span {
    display: inline-block;
}

.instruction-text {
    position: absolute;
    font-family: "Pinto W00 NO_01","Trebuchet MS",Helvetica,sans-serif;
    font-size: max(min(2.2vw, 36px), 25px);
    color: white;
    top: 33%;
}

.time-instruction{
    position: absolute;
    font-family: "Pinto W00 NO_01","Trebuchet MS",Helvetica,sans-serif;
    font-size: max(2vw, 20px);
    color: white;
    top: 16%;
    right: 3%;
    z-index: 2;
}

.enterButton {
    position: absolute;
    background-color: rgb(24, 26, 27);
    border: 1px solid rgb(60, 65, 67);
    border-radius: .5rem;
    box-sizing: border-box;
    color: rgb(214, 211, 205);
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .9.4rem;
    font-weight: 600;
    line-height: 1.25rem;
    height: 48px;
    min-width: 140px;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none rgb(206, 202, 195) solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.enterButton:hover {
    background-color: rgb(249,250,251);
}

.enterButton:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.enterButton:focus-visible {
    box-shadow: none;
}

#text-container {
    position: absolute;
    top: 30%;
    color: rgb(255,255,255)
}

.fade-in-text {
    /* display: block; */
    font-family: "Pinto W00 NO_01","Trebuchet MS",Helvetica,sans-serif;
    font-size: 2vw;
    color: white;
    margin: 10;
    opacity: 0;
}

.fade-in-text span {
    font-size: 1em;
}

.author {
    display: block;
    text-align: right;
}

.fi-text-animation {
    animation: fadeIn ease-in 1s forwards;
    -webkit-animation: fadeIn ease-in 1s forwards;
    -moz-animation: fadeIn ease-in 1s forwards;
    -o-animation: fadeIn ease-in 1s forwards;
    -ms-animation: fadeIn ease-in 1s forwards;
}

.fo-text-animation {
    animation: fadeOut ease-out 1s forwards;
    -webkit-animation: fadeOut ease-out 1s forwards;
    -moz-animation: fadeOut ease-out 1s forwards;
    -o-animation: fadeOut ease-out 1s forwards;
    -ms-animation: fadeOut ease-out 1s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-moz-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-o-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-ms-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}